header {
  background-color: #006bd6;
}

h1 {
  margin: 0;
  padding: 18px;
  text-align: center;
  font-size: 22pt;
  color: white;
  vertical-align: middle;
}

section.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* On mouse-over, add a deeper shadow */
section.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
section.card-container {
  padding: 2px 16px;
}

article.card-header {
  display: grid;
  grid-template-columns: 56px 100%;
  overflow: hidden;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 8px;
}

article.card-image {
  position: relative;
  display: flex;
  align-items: center;
}

.card-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

img.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.avatar-container {
  width: 100%;
  text-align: center;
}

img.avatar-large {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  margin: 8px;
}

.two-lines {
  grid-row: span 2;
}

.first-line {
  margin-top: 8px;
}

.one-line {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-overflow: clip;
}

.bold {
  font-weight: bold;
}

a.icon {
  color: #006bd6;
  background-color: #006bd6;
}

div.action-bar svg {
  margin-top: 18px;
}

input[type="file"] {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
